.min-w-auto {
  min-width: auto !important;
}

/* button */

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 38px;
  min-width: 146px;
  border-radius: 6px;
  font-weight: 500;
}

.btn i {
  margin-right: 8px;
}

.btn-view {
  border: 1px solid var(--color-view);
  background: var(--color-view);
  color: #fff;
}

.btn-edit {
  border: 1px solid var(--color-edit);
  background: var(--color-edit);
  color: #fff;
}

.btn-delete {
  border: 1px solid var(--color-delete);
  background: var(--color-delete);
  color: #fff;
}

.btn-add {
  border: 1px solid var(--color-add);
  background: var(--color-add);
  color: #fff;
}

.btn-save {
  border: 1px solid var(--color-save);
  background: var(--color-save);
  color: #fff;
}

.btn-white {
  background: #fff;
  border: 1px solid #e1e1e1;
  color: var(--color-daskblue);
}

.btn-opacity {
  opacity: 0.5;
}

.btn:hover,
.btn:focus-visible {
  background: var(--color-primary);
  color: #fff;
}

.btn-sm {
  height: 28px;
  font-size: 14px;
  padding: 0 15px;
}

.text-daskblue {
  color: var(--color-daskblue);
}

.text-sky {
  color: var(--color-sky);
}

.text-green {
  color: var(--color-green);
}

.text-orange {
  color: var(--color-orange);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-puple {
  color: var(--color-puple);
}

.text-red {
  color: var(--color-red);
}

.text-66 {
  color: #666666;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.btn-outline-secondary {
  border-color: #d1d1d1;
  color: #666666;
}

.form-control {
  height: 38px;
  border-radius: 4px;
  border-color: var(--color-border);
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-control-sm {
  height: 28px;
}

.checkbox .checkmark {
  background: #fff;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 3px;
  border: solid 1px var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox .checkmark i {
  font-size: 11px;
  color: transparent;
}

.checkbox input {
  display: none;
}

.checkbox input:checked ~ .checkmark {
  background: var(--color-primary);
  border: none;
}

.checkbox input:checked ~ .checkmark i {
  display: block;
  color: #fff;
}

.checkbox-green input:checked ~ .checkmark {
  background: #28a745;
}

.line-1 {
  height: 1px;
  width: 100%;
  background: var(--color-border);
}

.checkbox-outline .checkmark {
  background: transparent;
}

.colour-picker-field img {
  display: none;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

/* custom select */

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* feature box */

.feature-box[data-bg="1"] {
  background-image: linear-gradient(to top right, #29c6d5, #4c84ff);
}

.feature-box[data-bg="2"] {
  background-image: linear-gradient(to top right, #fbb03b, #d4145a);
}

.feature-box[data-bg="3"] {
  background-image: linear-gradient(to top right, #fcee21, #009245);
}

.feature-box[data-bg="4"] {
  background-image: linear-gradient(to top right, #40e0fc, #00839a);
}

.feature-box[data-bg="5"] {
  background-image: linear-gradient(to top right, #ffe98a, #d74277);
}

.feature-box[data-bg="6"] {
  background-image: linear-gradient(to top right, #f783ee, #757cfe);
}

.feature-box[data-bg="7"] {
  background-image: linear-gradient(to top right, #43eeac, #09b0e7);
}

.feature-box[data-bg="8"] {
  background-image: linear-gradient(to top right, #ff978a, #fe6db8);
}

.feature-box[data-bg="9"] {
  background-image: linear-gradient(to top right, #757cfe, #a2abf8);
}

.feature-box[data-bg="10"] {
  background-image: linear-gradient(to top right, #19c80f, #63fa87);
}

/* width */

.min-w-60p {
  min-width: 60px;
}

.min-w-70p {
  min-width: 70px;
}

.min-w-85p {
  min-width: 85px;
}

.min-w-100p {
  min-width: 100px;
}

.min-w-110p {
  min-width: 110px;
}

.min-w-120p {
  min-width: 120px;
}

.min-w-130p {
  min-width: 130px;
}

.min-w-150p {
  min-width: 150px;
}

.min-w-185p {
  min-width: 185px;
}

.w-80p {
  width: 80px;
}

/* height */

.min-h-28p {
  min-height: 28px;
}

.min-h-42p {
  min-height: 42px;
}

.border-left-1 {
  border-left-width: 1px !important;
}

.border-top-1 {
  border-top-width: 1px !important;
}

.modal-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-header-wrap .title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-daskblue);
}

.modal-header-wrap .btn {
  width: 30px;
  height: 30px;
  min-width: auto;
  font-size: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}

.modal-header-wrap .btn i {
  margin: 0;
}

.modal-header-wrap .btn:hover {
  color: #fff;
}

.modal-680 {
  max-width: 680px !important;
}

.modal-1140 {
  max-width: 1140px !important;
}
