@media (min-width: 577px) {
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-70 {
    width: 70% !important;
  }
}

@media (min-width: 769px) {
  .w-md-25 {
    width: 25% !important;
  }
}

@media (min-width: 1081px) {
  .w-lg-40 {
    width: 40% !important;
  }
  .w-lg-45 {
    width: 45% !important;
  }
  .w-lg-49 {
    width: 49% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
}

/* ---max width--- */

@media (max-width: 1600px) {
  .modul-v2 .modul-list .modul-item {
    padding: 16px;
  }
  .modul-view-more-box {
    margin-top: 16px;
  }
  .head-search-form .form {
    width: 250px;
  }
  .account-group {
    margin-left: 0;
  }
  .dashboard-item {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .dashboard-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .dashboard-v2 .dashboard-list {
    margin-left: -12px;
    margin-right: -12px;
  }
  .dashboard-v2 .dashboard-item {
    width: 33.3333333%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1440px) {
  .nav-left {
    width: 60px;
  }
  .nav-left-link {
    padding: 0 18px;
    position: relative;
  }
  .nav-left-link span {
    width: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99999;
    background: var(--color-primary);
    height: 100%;
    display: flex;
    left: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 6px 6px 0;
    transition: all 0.1s;
    opacity: 0;
  }
  .active .nav-left-link:hover {
    background: var(--color-primary);
    color: #fff;
  }
  .nav-left-link:hover span {
    width: 200px;
    visibility: visible;
    opacity: 1;
  }
  .main-menu {
    position: relative;
  }
  .main-menu ul {
    position: absolute;
    flex-direction: column;
    align-items: baseline;
    background: #fff;
    border: solid 1px #f1f1f1;
    border-radius: 4px;
    top: calc(100% + 14px);
    right: 0;
    min-width: 200px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    display: none;
    transition: all 0.3s;
  }
  .menu-toggle {
    display: block;
    font-size: 24px;
    color: var(--color-daskblue);
  }
  .main-menu ul .item {
    padding: 10px 15px;
    border-bottom: solid 1px #f1f1f1;
    width: 100%;
  }
  .main-menu ul.show {
    height: auto;
    z-index: 9999;
    display: block;
  }
  .function-content-list .item {
    width: 50%;
  }
  .head-search-form .form {
    width: 400px;
  }
  .account-group {
    margin-left: 0;
  }
  .main-menu .item {
    padding: 0 17px;
  }
}

@media (max-width: 1360px) {
  .modul-list .modul-item {
    width: 25%;
  }
  .dashboard-v2.dashboard-list {
    margin-left: -17px;
    margin-right: -17px;
  }
  .dashboard-v2 .dashboard-item {
    width: 50%;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 34px;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1200px) {
  .dashboard-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .dashboard-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .dashboard-card .card-footer {
    padding: 9px 15px;
  }
  .dashboard-v2 .dashboard-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .dashboard-v2 .dashboard-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1080px) {
  .filter-item {
    width: 40%;
  }
  .filter-item:last-child {
    width: 20%;
  }
  .chart-full .table-wrap,
  .chart-full .chart-wrap {
    width: 100%;
  }
  .chart-full .chart-wrap {
    padding-left: 0;
    margin-top: 40px;
    max-height: auto;
    display: flex;
    justify-content: center;
    height: 800px;
  }
  .theme-option-box {
    flex-wrap: wrap;
  }
  .theme-bg-corlor {
    width: 100%;
    margin-bottom: 25px;
  }
  .theme-bg-file {
    width: 50%;
    justify-content: start;
    padding-left: 0;
  }
  .head-search-form .form {
    width: 250px;
  }
  .function-content-list .item {
    padding: 0 8px;
    padding-bottom: 30px;
  }
  .tab-title {
    display: none;
  }
  .tabs-slider {
    padding-right: 0;
  }
  .today-group .item {
    width: 50%;
  }
  .modul-list .modul-item {
    width: 33.3333333%;
  }
  .function-nav {
    width: 100%;
    min-height: auto;
    justify-content: end;
    padding-right: 15px;
    padding-top: 18px;
    background: transparent;
  }
  .tab-list .tab-item a {
    height: 90px;
  }
  .action-function {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
  }
  .action-function .btn {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 820px) {
  .filter-item {
    width: 50%;
  }
  .dashboard-nav-left-content {
    padding: 15px;
  }
  .tabs-slider {
    padding-top: 20px;
  }
  .head-search-form .form {
    width: 220px;
  }
  .action-group .item {
    width: 25%;
  }
  .modul-list .modul-item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .modal .feature-item {
    width: 20%;
  }
  .head-search-form {
    position: relative;
    margin-left: auto;
  }
  .head-search-form .head-search-box {
    position: fixed;
    width: 100%;
    top: 60px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    left: 0;
    padding: 12px 15px;
    border: solid 1px #f1f1f1;
    z-index: 9999;
    border-radius: 4px;
    display: none;
  }
  .head-search-form .head-search-box .form {
    width: 100%;
    margin-left: 0;
  }
  .main-menu {
    margin-left: 40px;
  }
  .head-search-toggle {
    display: block;
    font-size: 20px;
  }
  .head-search-form.show .head-search-box {
    display: block;
  }
  .head-search-form.show .head-search-toggle {
    display: none;
  }
  .action-group .item {
    width: 33.3333333%;
  }
}

@media (max-width: 576px) {
  .filter-item {
    width: 100%;
    justify-content: end;
  }
  .filter-item:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 15px;
  }
  .filter-item .input-label-left {
    margin: 0;
  }
  .modal .feature-item {
    width: 25%;
  }
  .function-content-list .item {
    width: 100%;
  }
  .function-content {
    padding: 15px;
  }
  .account-group {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    padding: 12px 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  }
  .account-group .item {
    margin-left: 0;
  }
  .action-group .item {
    width: 50%;
  }
  .today-group .item {
    width: 100%;
  }
  .top-nav,
  .quick-action,
  .for-u-today,
  .modul {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modul-list .modul-item {
    width: 100%;
  }
  .tabs-slider {
    padding-right: 0;
  }
  .dashboard {
    padding: 20px 10px;
    margin-bottom: 50px;
  }
  .dashboard-item {
    width: 100%;
  }
  .dashboard-v2 .dashboard-item {
    width: 100%;
  }
  .theme-bg-file {
    width: 100%;
    margin-bottom: 25px;
  }
  .theme-option-form .btn-action-group-left {
    margin-bottom: 50px;
  }
  .theme-option-form .btn-action-group-left .btn {
    min-width: inherit;
    flex: 1;
  }
  .full-card .card-body {
    padding: 20px;
  }
  .logo-upload.favicon-upload {
    flex: 0 0 auto;
    width: 100%;
  }
  .input-label-row {
    flex-direction: column;
  }
  .input-label-row .label {
    width: 100% !important;
  }
  .btn-action-group-left {
    width: 100%;
    margin-bottom: 60px;
  }
  .btn-action-group-left .btn {
    min-width: auto;
    flex: 1;
  }
}

@media (max-width: 430px) {
  .modul-dropdown {
    width: 100%;
  }
  .slogan-upload {
    flex-direction: column;
    align-items: start;
  }
  .slogan-upload .input {
    width: 100%;
    margin-left: 0;
    margin-top: 6px;
  }
}
