:root {
    --color-primary: #018ED5;
    --color-daskblue: #14375F;
    --color-sky: #4C84FF;
    --color-green: #63FA87;
    --color-orange: #FB9668;
    --color-yellow: #FFB400;
    --color-puple: #9F22D6;
    --color-red: #DF322B;
}