:root {
  --color-primary: #018ed5;
  --color-daskblue: #14375f;
  --color-sky: #4c84ff;
  --color-green: #63fa87;
  --color-orange: #fb9668;
  --color-yellow: #ffb400;
  --color-puple: #9f22d6;
  --color-red: #df322b;
  --color-add: #6610f2;
  --color-view: #018ed5;
  --color-edit: #28a745;
  --color-delete: #df322b;
  --color-save: #28a745;
  --color-border: #e1e1e1;
}
